.longShort {
    font-weight: bold;
}

.boldColumn {
    font-weight: bold;
}

.subColumn {
    background-color: yellow;
}

.titleCss {
    background-color: #505D8D;
    font-weight: bold;
    color: white;
}


.uppercase {
    text-transform:uppercase;
}